################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebGentle_BookStore/WebGentle_BookStore/wwwroot
