

    <section class="jumbotron text-center">

        <div class="container">
            <h1>Wel come to Book Store</h1>
            <p class="lead text-muted">
                This ia an Book Store Appliacation where we can search the Book
            </p>
            <a href="#" class="btn btn-primary">Search Books</a>
        </div>
        <div class="py-5 bg-light">
            <h3 class="h3">Top Books</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            @*<div class="card-header">

                        </div>*@
                            <p>Animation Books</p>
                            <div class="card-body">
                                <p class="card-text">
                                    This is for Book info
                                </p>
                                
                            </div>
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">More..</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            @*<div class="card-header">
                           <p class="card-text">Old Books</p>
                        </div>*@
                            <p class="card-text">Old Books</p>
                            <div class="card-body">
                                <p>Book 1</p>
                                <p>Book 2</p>
                                <p>Book 3</p>
                            </div>
                            <div class="card-footer">
                                <p>More Info...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            @*<div class="card-header">
                         <p>New Books</p>
                        </div>*@
                            <p>New Books</p>
                            <div class="card-body">
                                <p>Book 1</p>
                                <p>Book 2</p>
                                <p>Book 3</p>
                            </div>
                            <div class="card-footer">
                                <p>More Info...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@*@section scripts{ 

<script>
    $(document).ready(function () {
        //alert("Hi..");
    });
</script>
}*@