
@{ 
    //ViewData["Title"] = "Home";
    dynamic data = ViewBag.data;

}
    <section class="jumbotron text-center">

        <div class="container">
            <h1>Wel come to Book Store</h1>

            @*<environment include="Development">
                <h3>Development</h3>
            </environment>*@
            @*<environment include="Production,Staging">
                <h3>Production</h3>
            </environment>*@
            @*<environment exclude="Development">
                <h3>Production</h3>
            </environment>*@

            <p class="lead text-muted">
                This ia an Book Store Appliacation where we can search the Book
                @*@ViewBag.Title*@
                @data.Id
                @data.Name
                Id=@ViewBag.Type.Id
                Author=@ViewBag.Type.Author
            </p>
            <a href="#" class="btn btn-primary">Search Books</a>
        </div>
        <div class="py-5 bg-light">
            @*<h3 class="h3">Top Books</h3>*@
            <big>Top Books</big>
            <p big>Top Book using attribute</p>

            <div class="container">
                @*@await Component.InvokeAsync("TopBooks")*@
                @*<vc:top-books></vc:top-books>*@

                @await Component.InvokeAsync("TopBooks", new { count = 4 })
                @*<vc:top-books count="4"></vc:top-books>*@


                <!--<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">-->
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                <!--@Html.Partial("_bookThumbnail", new BookModel())
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">-->
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                <!--@await Html.PartialAsync("_bookThumbnail", new BookModel())
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">-->
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                <!--@{
                Html.RenderPartial("_bookThumbnail", new BookModel());
            }

        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">-->
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                <!--@{
                    await Html.RenderPartialAsync("_bookThumbnail", new BookModel());
                }

            </div>
        </div>
    </div>-->
            </div>
        </div>
    </section>
@section scripts{ 

<script>
    $(document).ready(function () {
        //alert("Hi..");
    });
</script>
}