<footer class="footer text-center text-muted fixed-bottom border-top bg-light shadow">
    <div>
        Copyright &copy; Book Store Application- @DateTime.Now.Year
        <custom-email my-email="nitish@webgentle.com"></custom-email>
    </div>

</footer>