@*@inject WebGentle_BookStore.Repository.IBookRepository _bookRepository*@
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configutaion   
@*@inject Microsoft.Extensions.Options.IOptions<NewBookAlertConfig> _newBookAlert*@
@inject Microsoft.Extensions.Options.IOptionsSnapshot<NewBookAlertConfig> _newBookAlert
@{
    // var newBook = _configutaion.GetSection("NewAlert");
    var newBookAlert = new NewBookAlertConfig();
    _configutaion.Bind("NewAlert", newBookAlert);

    var newBookAlertConfig = _newBookAlert.Value;
}
<header>
    <div class="container">
        <nav class="navbar navbar-expand-sm  fixed-top bg-light shadow">

            <a class="navbar-brand m-md-auto" href="#">
                <img src="~/images/books/book2.jpg" width="30" height="30" asp-append-version="true" class="rounded-pill" />
                @*@_bookRepository.GetAppName()*@
                @_configutaion["AppName"]

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Book" asp-action="GetAllBooks">View Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Book" asp-action="AddNewBook">Add New Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-protocol="http" asp-host="webgentle.com" asp-controller="Book" asp-action="GetAllBooks">New URL Link</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Signup">Register</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

</header>
@*@if (_configutaion.GetValue<bool>("NewAlert:DisplayNewBookAlert"))*@
@*@if(newBook.GetValue<bool>("DisplayNewBookAlert"))*@
@*@if(newBookAlert.DisplayNewBookAlert)*@
@if (newBookAlertConfig.DisplayNewBookAlert)
{
    <div class="alert alert-info mt-4" role="alert">

        @*@_configutaion["NewAlert:BookName"]*@
        @*@(newBook.GetValue<string>("BookName"))*@
        @*@newBookAlert.BookName*@
        @newBookAlertConfig.BookName
    </div>

}
