<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewData["Title"] | Book Store Appliacation</title>
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              asp-fallback-href="~/twitter-bootstrap/css/bootstrap.min.css" 
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="" crossorigin="anonymous">
        
    </environment>
  
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>

    <partial name="_header" />

    <div class="container" style="padding-bottom:80px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_footer" />

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/Jquery-validate/jquery.validate.js"></script>
        <script src="~/Jquery-validate-unobtructive/jquery.validate.unobtrusive.js"></script>
        <script src="~/Jquery-ajax-unobtrusive/jquery-unobtrusiive-ajax.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/Jquery-validate/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Jquery-ajax-unobtrusive/jquery-unobtrusiive-ajax.min.js"></script>
    </environment>


    @*For carousel*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
