@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    string name1;
    string name = User.Identity.Name;
    
    if (name.Length>12)
    {
        name1 = name.Substring(0, 12);
    }
    else
    {
        name1 = name;
    }

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark"href="#" id="navbarDropdown" role="button" data-toggle="collapse" data-target="#navbarDp">
        Hello, @(User.FindFirst("UserFirstName").Value+" "+User.FindFirst("UserLastName").Value)
        </a>
    </li>
    <div class="dropdown-menu" area-labelledby="navbarDropdown" id="navbarDp">
        <a class="dropdown-item" asp-controller="Account" asp-action="LogOut">Log Out</a>
        <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
    </div>
   
}

else
{
    
<li class="nav-item">
    <a class="btn btn-outline-primary" asp-action="LogIn" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path">LogIn</a>
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Signup">Register</a>
</li>
}
